//@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: #f3f5f6 !important;
  font-family: Figtree, serif;
}

.d-grid {
  display: grid;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

.btn-custom-icon {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 8px 16px;
  height: min-content;
}

.checkbox-selection {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #28c76f;
  border-radius: 0 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  box-shadow: 0 1px 1px rgb(0 0 0 / 11%), 0 2px 2px rgb(0 0 0 / 11%),
    0 4px 4px rgb(0 0 0 / 11%), 0 8px 8px rgb(0 0 0 / 11%),
    0 16px 16px rgb(0 0 0 / 11%), 0 32px 32px rgb(0 0 0 / 11%);
  .custom-control-label {
    font-weight: 600;
  }
  button {
    padding: 6px 10px;
    border-radius: 0 8px 0 0;
    &:focus {
      color: #ffffff;
    }
  }
  input {
    width: 1rem;
    height: 1rem;
  }
}

input {
  border-radius: 10rem !important;
  padding: 0.75rem !important;
}

@for $i from 0 through 100 {
  .gap-#{$i} {
    gap: #{$i}px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  //border-bottom: 1px dotted black;
  opacity: 1;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  right: 32px;
  left: unset;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b6b6cff;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b6b6cff;
}

.not-found-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  width: 100%;
  img {
    width: 50%;
  }
}

//.card-img-top {
//  height: 200px;
//}

.error-invisible {
  visibility: hidden;
  height: 16px;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.mat-mdc-table .mdc-data-table__row {
  height: unset;
}

.animated-background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #e7e7e7 8%, #d7d7d7 18%, #e5e5e5 33%);
  background-size: 800px 104px;
  position: relative;
}

.image-loading-animation {
  height: 60px;
  width: 60px;
}

.ng-select .ng-select-container {
  border: unset;
  &:hover {
    box-shadow: unset;
  }
}

.footer {
  width: 100%;
  background: #1f1f1f;
}
.footer_content {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 17px;
}
.footer_logo {
  font-family: 'Work Sans', sans-serif;
  font-size: 36px;
  line-height: 1.27;
  font-weight: 700;
  letter-spacing: 0.075em;
  text-transform: uppercase;
}
.footer_social {
  margin-top: 16px;
}
.footer_social ul li {
  display: inline-block;
}
.footer_social ul li:not(:last-child) {
  margin-right: 21px;
}
.footer_social ul li i {
  color: #8f8f8f;
}
.footer_social_facebook:hover i {
  color: #3b5999;
}
.footer_social_twitter:hover i {
  color: #55acee;
}
.footer_social_pinterest:hover i {
  color: #bd081c;
}
.footer_social_vimeo:hover i {
  color: #1ab7ea;
}
.footer_social_instagram:hover i {
  color: #c26d7a;
}
.footer_social_google:hover i {
  color: #dd4b39;
}
.copyright {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
}

.warp-text-line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.image-pre-loading {
  height: 200px;
  width: 200px;
  margin-right: 12px;
  z-index: 1;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.img-loading {
  width: 60%;
}

.w-unset {
  width: unset;
}

.red-txt-st {
  color: #ff0000ff;
}

.max-width {
  width: max-content !important;
}

input.form-control.ng-invalid.ng-touched {
  border: 1px solid red;
}

.form-container {
  background-color: #f2f2f2;
  display: flex;
  padding-bottom: 80px;
  flex-direction: column;
  align-items: center;
}

.form-initiate {
  z-index: 2;
  margin-top: 80px;
}

.img-background {
  background-image: url('../images/clients/background.png');
  height: 100vh;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#33374b, #141e47);
    opacity: 0.75;
    z-index: 1;
  }
}

.img {
  aspect-ratio: 1;
  object-position: center;
  width: 12px;
}

.form-title {
  margin-top: 42px;
  font: 800 32px Figtree, sans-serif;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 991px) {
  .form-title {
    margin-top: 40px;
  }
}

.form-body {
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  margin-top: 24px;
  width: max(32vw, 470px);
  max-width: 100%;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  padding: 24px 36px 28px;
}

.btn-c {
  font-family: Figtree, sans-serif;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  background-color: var(--Primary, #2399f9);
  color: var(--White, #fafafa);
  font-weight: 700;
  text-align: center;
  height: 42px;
}

label {
  font-size: 16px;
  font-weight: 600;
}

.btn-common-style {
  border-radius: 22px;
  border: 1px solid #d9d9d9;
  width: 120px;
  height: 44px;
  padding: 10px 16px;
  &:hover {
    background-color: var(--Primary, #2399f9);
    color: var(--White, #fafafa);
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

$list-style: none, circle;

@each $style in $list-style {
  .list-style-#{$style} {
    list-style: $style;
  }
}

@for $width from 1 through 100 {
  .w-#{$width} {
    width: #{$width + '%'};
  }
}

@for $fontSize from 1 through 2000 {
  .fs-#{$fontSize} {
    font-size: #{$fontSize + 'px'};
  }
}

@media (max-width: 576px) {
  .not-found-item {
    img {
      width: 100% !important;
    }
  }
}

@media (max-width: 767.98px) {
  .card-img-top {
    height: unset !important;
  }
  .img-loading {
    width: 100%;
  }
}
